/* ---- Poppins ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* ---- Syne ----- */
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Kings&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Syne+Tactile&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 0;
    background: #190C26;
    background: url(/static/resources/horo_bg.png);

}

.login-wrapper {
    background: #190C26;
}

.welcome-card,
.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
}

.welcome-card {
    background: #150B26;
    padding: 50px;
    border-radius: 45px 0 0 45px;
}

.welcome-card .welcome-text {
    color: #E6D3FB;
    font-size: 16px;
    margin-bottom: 5em;
}

.welcome-card .subtitle {
    color: #f0f0f0;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Syne', system-ui;
    margin-top: -0.5em;
    margin-bottom: 2em;
}

.welcome-card .site-name {
    width: 500px;
}

.welcome-card .site-logo {
    width: 300px;
    margin-bottom: 2em;
    /* animation: rotate 50s linear infinite; */
    animation: float 2s linear infinite;


}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2%);
    }
    100% {
        transform: translateY(0);
    }
}


.login-card {
    background: #2A0741;
    border-radius: 0 45px 45px 0;
    /* background: url(/static/resources/horo_bg2.png); */
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 3em;
}


.title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #f0f0f0;
    text-align: center;
}

.subtitle {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    text-align: center;
    color: #E6D3FB;
}


.login-card form {
    text-align: center;
}

.input-label {
    font-size: 16px;
    color: #E6D3FB;
    font-weight: 500;
    text-align: left;
}

i {
    position: absolute;
    top: 70;
    left: 70;
    font-size: 20px;
    color: #190C26;
    z-index: 10;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
}

.username_field ,
.password_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
        drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    margin-bottom: 1.5rem;
}

.input {
    padding: 10px;
    background-color: transparent;
    border-radius: #E6D3FB;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #f0f0f0;
    font-weight: 600;
    height: 40px;
    text-align: center;
    border-radius: 7px;
    border-color: transparent;
    outline: none;
    background: linear-gradient(to bottom right, #E146F9, #5E17EB);
    margin-top: 0.8rem;
}
