<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/dashboard.css">

    <title>Horoscope</title>
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/static/resources/logo-gwhite.png" alt="">
                </span>
                <div class="text logo-text">
                    <span class="tagline">Your Astro Reader</span>
                </div>
            </div>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input id="searchInput" type="text" placeholder="Search...">
                </li>

                <ul class="menu-links" id="zodiac-buttons">
                {{ range .Zodiac}}
                    <li class="nav-link">
                        <a href="#" onclick="showZodiac('{{ .Name }}');" class="zodiac-btn">
                            <div class="icon">
                                <img src="{{ .Symbol }}" alt="" class="sidebar-icon">
                            </div>
                            <span class="text nav-text">{{ .Name }}</span>
                        </a>
                    </li>
                {{ end }}
                </ul>
            </div>

            <div class="bottom-content">
                <li class="logout-btn">
                    <a href="/logout/">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

            </div>
        </div>

    </nav>

    <section class="dashboard">
        <div class="dash1">
            <div class="personality-wrapper">
                <div class="personality-card">
                    <div class="personality-icon">
                        <img src="/static/resources/personality-icon/looks.png" alt="">
                    </div>
                    <span class="card-text">Looks</span>
                    <span class="card-percent looks" id="card-percent-looks"></span>
                    <div class="bar">
                        <div class="progress-line looks">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="personality-card">
                    <div class="personality-icon">
                        <img src="/static/resources/personality-icon/personality.png" alt="">
                    </div>
                    <span class="card-text">Personality</span>
                    <span class="card-percent personality" id="card-percent-personality"></span>
                    <div class="bar">
                        <div class="progress-line personality">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="personality-card">
                    <div class="personality-icon">
                        <img src="/static/resources/personality-icon/intelligence.png" alt="">
                    </div>
                    <span class="card-text">Intelligence</span>
                    <span class="card-percent intelligence" id="card-percent-intelligence"></span>
                    <div class="bar">
                        <div class="progress-line intelligence">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="daily-horoscope-card">
                <div class="star-sign">
                    <img src="" alt="" class="star-sign-img">
                </div>
                <div class="horoscope">
                    <span class="horoscope-text">DAILY HOROSCOPE</span>
                    <span class="horoscope-date"></span>
                    <span class="horoscope-desc"></span>
                </div>
            </div>
            <div class="compatibility-other-card">
                <div class="compatibility">
                    <span class="dashboard-text">Compatibility</span>
                    <div class="compatibility-card">
                        <div class="compatibility1">
                            <span class="card-text">Compatible with...</span>
                            <span class="card-subtext" id="card-subtext"></span>
                        </div>
                        <div class="compatibility2">
                            <img src="" alt="" class="match-sign first">
                            <img src="" alt="" class="match-sign second">
                            <img src="" alt="" class="match-sign third">
                        </div>
                    </div>
                </div>
                <div class="other-zodiac">
                    <span class="dashboard-text">View Other Zodiac Signs</span>
                    <div class="other-zodiac-card">
                        <div class="other-zodiac1">
                            <span class="card-text">Check this out ...</span>
                            <span class="card-subtext">Wanna know more?</span>
                        </div>
                        <div class="other-zodiac2">
                            <img src="/static/resources/zodiac-signs/Aquarius.png" alt="" class="zodiac-cards-list">
                            <img src="/static/resources/zodiac-signs/Saggittarius.png" alt="" class="zodiac-cards-list">
                            <img src="/static/resources/zodiac-signs/Taurus.png" alt="" class="zodiac-cards-list">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="dash2">
            <div class="user-zodiac">
                <img src="" alt="" class="zodiac-img">
                <div class="horoscope-info">
                    <span class="zodiac-name" id="zodiac-name"></span>
                    <span class="zodiac-date"></span>
                </div>
            </div>
            <div class="lucky-picks">
                <div class="lucky-color">
                    <span class="dashboard-text">Today's Lucky Color</span>
                    <div class="lucky-color-card">
                        <div class="color-box">
                            <div class="lucky-color-box"></div>
                        </div>
                        <div class="color-info">
                            <div class="color-name"></div>
                            <div class="color-desc"></div>
                        </div>
                    </div>
                </div>
                <div class="lucky-num">
                    <span class="dashboard-text">Today's Lucky Number</span>
                    <div class="lucky-num-card">
                        <div class="num-wrapper">
                            <div class="num-card">
                                <div class="card-content">
                                    <span class="num-text"></span>
                                </div>
                            </div>
                        </div>
                        <div class="num-info">
                            <div class="num-name"></div>
                            <div class="num-desc"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="/static/js/script.js"></script>
    <script>
        // (document.getElementById("aries_btn")).click()
        var zodiac = []

        {{ range .Zodiac }}
        var z = {
            "Name": '{{ .Name }}',
            "Date": '{{ .Date }}',
            "LooksRate": '{{ .LooksRate }}',
            "PersonalityRate": '{{ .PersonalityRate }}',
            "IntelligenceRate": '{{ .IntelligenceRate }}',
            "Symbol": '{{ .Symbol }}',
            "StarSign": '{{ .StarSign }}',
            "Compatible": '{{ .Compatible }}',
            "Compatible1": '{{ .Compatible1 }}',
            "Compatible2": '{{ .Compatible2 }}',
            "Compatible3": '{{ .Compatible3 }}'
        }
        zodiac.push(z)
        {{ end }}
        localStorage.setItem("zodiac", JSON.stringify(zodiac));

        var colorHex = document.querySelector('.lucky-color-box');
        var hex = "{{ .Colors.Hex }}";
        colorHex.style.background = hex;

        (function aries(){
            var zod = JSON.parse(localStorage.getItem("zodiac"));
            console.log("zod: ", zod);
            zod.forEach(element => {
                console.log('e: ', element)
                if (element.Name == "Aries"){
                    console.log('match', element.Name)
                    var zodiac_name =document.getElementById("zodiac-name") 
                    var looks_rate =document.getElementById("card-percent-looks") 
                    var personality_rate =document.getElementById("card-percent-personality") 
                    var intelligence_rate =document.getElementById("card-percent-intelligence") 
                    var compatible_with =document.getElementById("card-subtext") 
                    var progressLine = document.querySelector(".progress-line.looks span");
                    var progressLine = document.querySelector(".progress-line.personality span");
                    var progressLine = document.querySelector(".progress-line.intelligence span");

                    zodiac_name.innerText = element.Name;
                    looks_rate.innerText = element.LooksRate;
                    personality_rate.innerText = element.PersonalityRate;
                    intelligence_rate.innerText = element.IntelligenceRate;
                    compatible_with.innerText = element.Compatible;
                    progressLine.style.width = element.LooksRate;
                    progressLine.style.width = element.PersonalityRate;
                    progressLine.style.width = element.IntelligenceRate;

                    document.querySelector(".zodiac-date").textContent = element.Date;
                    document.querySelector(".zodiac-img").setAttribute('src',element.Symbol);
                    document.querySelector(".star-sign-img").setAttribute('src',element.StarSign);
                    document.querySelector(".match-sign.first").setAttribute('src',element.Compatible1);
                    document.querySelector(".match-sign.second").setAttribute('src',element.Compatible2);
                    document.querySelector(".match-sign.third").setAttribute('src',element.Compatible3);
                }
            });
        })()

        function showZodiac(name) {
            var zod = JSON.parse(localStorage.getItem("zodiac"));
            console.log("zod: ", zod);
            zod.forEach(element => {
                console.log('e: ', element)
                if (element.Name == name){
                    console.log('match', element.Name)
                    var zodiac_name =document.getElementById("zodiac-name") 
                    var looks_rate =document.getElementById("card-percent-looks") 
                    var personality_rate =document.getElementById("card-percent-personality") 
                    var intelligence_rate =document.getElementById("card-percent-intelligence") 
                    var compatible_with =document.getElementById("card-subtext") 
                    var progressLine = document.querySelector(".progress-line.looks span");
                    var progressLine = document.querySelector(".progress-line.personality span");
                    var progressLine = document.querySelector(".progress-line.intelligence span");

                    zodiac_name.innerText = element.Name;
                    looks_rate.innerText = element.LooksRate;
                    personality_rate.innerText = element.PersonalityRate;
                    intelligence_rate.innerText = element.IntelligenceRate;
                    compatible_with.innerText = element.Compatible;
                    progressLine.style.width = element.LooksRate;
                    progressLine.style.width = element.PersonalityRate;
                    progressLine.style.width = element.IntelligenceRate;

                    document.querySelector(".zodiac-date").textContent = element.Date;
                    document.querySelector(".zodiac-img").setAttribute('src',element.Symbol);
                    document.querySelector(".star-sign-img").setAttribute('src',element.StarSign);
                    document.querySelector(".match-sign.first").setAttribute('src',element.Compatible1);
                    document.querySelector(".match-sign.second").setAttribute('src',element.Compatible2);
                    document.querySelector(".match-sign.third").setAttribute('src',element.Compatible3);

                }
            });

        }

        // Daily Horoscope

        var horoscope = []

        {{ range .Horoscope }}
        var h = {
            "Name": '{{ .Name }}',
            "Horoscope": '{{ .Horoscope }}',
        }
        horoscope.push(h)
        {{ end }}
        localStorage.setItem("horoscope", JSON.stringify(horoscope));
        
    </script>
</body>

</html>
