<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login Form</title>
</head>
<body>
    <div class="login-card">
        <form method="POST" action="/login/">
            <input type="text" name="username" placeholder="Username" value="{{.Username}}" required><br>
            <input type="password" name="password" placeholder="Password" value="{{.Password}}" required><br>
    
            <br><button type="submit">Login</button><br>
            
        </form>
    </div>
    
    {{if .ErrExists}}
    <p>
        <b style="color:red">{{.Err}}</b>
    </p>
    {{end}}
</body>
</html>