<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Login Form</title>
</head>
<body>
    <div class="welcome-card">
        <span class="welcome-text">Welcome to</span>
        <img src="/static/resources/site-name.png" alt="" class="site-name">
        <span class="subtitle">Your Astro Reader</span>
        <img src="/static/resources/site-logo.png" alt="" class="site-logo">
    </div>
    <div class="login-card">
        <div class="title-container">
            <p class="title">Login to your account</p>
            <span class="subtitle">Unlock Your Celestial Compass: Daily Horoscopes, Personalities, and More Await!</span>
        </div>
        <form method="POST" action="/login/">
            <!-- <label class="input-label" for="username_field">Username</label><br> -->
            <i class='bx bx-user'></i>
            <input type="text" name="username" class="username_field" placeholder="Username" value="{{.Username}}" required><br>
            <!-- <label class="input-label" for="password_field">Password</label><br> -->
            <i class='bx bx-lock-alt' ></i>
            <input type="password" name="password" class="password_field" placeholder="Password" value="{{.Password}}" required>
    
            <br><button type="submit">Login</button><br>
            
        </form>
        {{if .ErrExists}}
        <p>
            <b style="color:red; font-weight: 300; font-size: 12px">{{.Err}}</b>
        </p>
        {{end}}
    </div><br>
    
    
    
</body>
</html>